/* 
.progress-bar-group {
}
.progress-bar-group > .progress-bar {
}
.progress-bar-group > .progress-bar > .top {
}
.progress-bar-group > .progress-bar > .top > .title {
}
.progress-bar-group > .progress-bar > .top > .label {
}
.progress-bar-group > .progress-bar > .bottom {
}
.progress-bar-group > .progress-bar > .bottom > .progress {
}

*/

.progress-bar-group {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.progress-bar-group > .progress-bar {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.progress-bar-group .top {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #777;
}
.progress-bar-group .title {
}
.progress-bar-group .value {
}
.progress-bar-group .bottom {
    /* --height: 6px */
    height: 6px;
     /* height: var(--height); */
     width: 100%;
     background-color: #ccc;
}
.progress-bar-group .progress {
    width: 40%;
    height: inherit;
    /* height: var(--height); vaikas paveldi is savo artimiausio tevo */
    background-color: var(--main-color);
}


